.open-sans-all-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.all-bg{
    background-color: #f8f9fc;
    padding-top: 100px;
    
}

 /* shared */

.btn{
    text-align: center;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 12px 36px;
}
.btn:hover{
    background-color: rgb(8, 90, 90);
}

/* header part */
.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;

}
nav{
    display: flex;
    align-items: center;    
    justify-content: space-between;     
    margin-top: 0px;
    margin-bottom: 152px;
    margin-left: 150px;
    margin-right: 150px;
}


.head-main{
    text-align: center;
    margin-left: 267.5px;
    margin-right: 267.5px;
    padding-bottom: 152px;
}
.head-title{
    font-size: 65px;
}
.nav-btn{
    margin-bottom: 152px;
}

.head{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
